<!DOCTYPE html>
<html>
<head>
    <title>ConGraph - Content Visualization</title>
    <meta name="description" content="ConGraph ist ein Tool um Daten grafisch ansprechend zu organisieren." />
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/panel.css" />
    <link rel="stylesheet" href="../css/bootstrap-theme.css" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../css/jquery.gridster.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/home.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.gridster.min.js"></script>

</head>
<body>
<header>
    <div id="fullhead">
        <div>
            <hgroup>
                <h1 id="hdln">ConGraph</h1>
                <h2 id="sbhdln">Visualize your Content</h2>
            </hgroup>
        </div>
        <hr noshade size="1">
    </div>
</header>
<div id="right">
    <div>
        <nav>
            <button type="button" class="btnM btnL" name="messages" value="add board" onclick="$('#modalNewDashboard').modal('show')">
                <span class="glyphicon glyphicon-plus pull-left" style="font-size: smaller;" aria-hidden="true"></span>add board</button>
            <button id="btnLogout" type="button" class="btnM btnR" name="signout" value="sign out">
                sign out</button>
            <span class="dropdown" style="width: 105px">
                <button id="btnDashboardList" class="btnM btnL dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                    my boards
                    <span class="caret"></span>
                </button>
                <ul id="dashboardList" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <!--Content Load Dynamik-->
                </ul>
            </span>
            <button type="button" class="btnM btnR" name="myaccount" value="my account" onclick="alert('Das bin ich.');">
                my account</button>
        </nav>
    </div>
    <div id="mbar">

        <button id="btnNewPanel" type="button" class="btnM btnPnl" onclick="$('#modalNewPanel').modal('show')">
            <span class="glyphicon glyphicon-plus pull-left" style="font-size: xx-large;" aria-hidden="true"></span>
           Add Panel
        </button>
        <button id="btnAddUserToDashboardModal" type="button" class="btnM btnUs" onclick="$('#modalAddUserToDashboard').modal('show')">
            Manage User
        </button>
        <button id="btnLeaveDashboard" type="button" class="btnM btnUs">
            Leave Dashboard
        </button>
        <button id="colorChange" type="button" class="btnCol" name="addpanel">
        </button>
        Background Color
        <div id="chat">
            <div class="chatList">
                <ul id="content" style="padding-left: 0;"></ul>
                <br>
            </div>
            <input id="text" name="Eingabe" type="text" size="20" placeholder="schreibe etwas...">
            <button id="senden" type="submit" class="btnM" name="addpanel" value="senden">
                <span class="glyphicon glyphicon-ok" style="font-size: smaller;" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

<div id="gesDB">
    <h2 id="headerDashboard"> No Dashbaord selected! </h2>
    <section style="display: block;margin: 3em 0">
        <div class="gridster">
            <ul style="list-style: none">

            </ul>
        </div>
    </section>
    <!--<div id="dashboard" class="row">-->
        <!--&lt;!&ndash;Generate dynamic&ndash;&gt;-->
    <!--</div>-->
</div>

<!--Modal Add User To Dashboard-->
<div class="modal fade" id="modalAddUserToDashboard" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add user to dashboard</h4>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">@</span>
                    <input id="inputUserMail" type="text" class="form-control" placeholder="e-Mail Adresse User" aria-describedby="sizing-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnAddUserToDashboard">Add User</button>
            </div>
        </div>
    </div>
</div>

<!--Modal New Dashboard-->
<div class="modal fade" id="modalNewDashboard" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add dashboard</h4>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-lg">
                    <input id="inputDashboardName" type="text" class="form-control" placeholder="Dashboard Name" aria-describedby="sizing-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnAddDashboard">Add Dashboard</button>
            </div>
        </div>
    </div>
</div>

<!--Modal New Panel-->
<div class="modal fade" id="modalNewPanel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Panel</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="inputPanelTitle" type="text" class="form-control" placeholder="Panel Title" aria-describedby="sizing-addon1">
                </div>
                <div class="form-group">
                    <textarea id="inputPanelDescription" rows="10" class="form-control" placeholder="Panel Description" aria-describedby="sizing-addon1"></textarea>
                </div>
                <div class="form-group">
                    <input id="inputPanelLink" type="text" class="form-control" placeholder="URL" aria-describedby="sizing-addon1" value="http://">
                </div>
                <div class="form-group">
                    <input id="inputPanelImg" type="text" class="form-control" placeholder="IMG">
                </div>
                <div class="form-group">
                    <input id="inputPanelFile" name="test" type="file" class="form-control">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btnM" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnAddPanel">Add Panel</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Edit Panel-->
<div class="modal fade" id="modalEditPanel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Panel</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <input id="editPanelTitle" type="text" class="form-control" placeholder="Panel Title" aria-describedby="sizing-addon1">
                    </div>
                    <div class="form-group">
                        <textarea id="editPanelDescription" rows="10" class="form-control" placeholder="Panel Description" aria-describedby="sizing-addon1"></textarea>
                    </div>
                    <div class="form-group">
                        <input id="editPanelLink" type="text" class="form-control" placeholder="URL" aria-describedby="sizing-addon1">
                    </div>
                    <div class="form-group">
                        <input id="editPanelFile" name="test" type="file" class="form-control">
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btnM" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btnM" id="btnEditPanel">Save</button>
            </div>
        </div>
    </div>
</div>
<!--Modal View Panel-->
<div class="modal fade" id="modalViewPanel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="viewPanelLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="well" id="viewPanelDescription"></div>
                </div>
                <div class="form-group">
                    <href id="viewPanelLink" class="form-control" aria-describedby="sizing-addon1"></href>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnDeletePanel">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" id="btnEditPanel" onclick="editPanel(globalPanelId)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<footer>Copyright © 2015</footer>
</body>
</html>