<!DOCTYPE html>
<html>
<head>
    <title>ConGraph</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/bootstrap-theme.css" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/chat.js"></script>
    <script src="../js/panel_jq.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/home.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

</head>
<body>
<header>ConGraph <a>powered by NoteJS</a></header>


<aside>
    <div>
        <input id="newPanel" type="submit" value="Add Panel">
    </div>
    <div>
        <input id="btnAddDashboard" type="submit" value="Add Dashboard">
    </div>
    <div class="dropdown">
        <button id="btnDashboardList" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul id="dashboardList" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" onclick="loadDashboards()"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
    </div>
    <div class="chatTitle">
        <h1>CHAT</h1>
        <input id="name" type="text" placeholder="dein Name" />
        <input id="text" type="text" placeholder="schreibe etwas..." />
        <input id="senden" type="submit" class="btn" value="senden" />
    </div>
    <div class="chatList">
        <ul id="content"></ul>
        <br>
        <br>
    </div>

</aside>

<section>
    <div id="dashboard">


    </div>
    <div class="column" id="column1">

        <div class="portlet">
            <div class="portlet-header">Feeds</div>
            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>

        <div class="portlet">
            <div class="portlet-header">News</div>
            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>

    </div>

    <div class="column" id="column2">

        <div class="portlet">
            <div class="portlet-header">Shopping</div>
            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>

    </div>

    <div class="column" id="column3">

        <div class="portlet">
            <div class="portlet-header">Links</div>
            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>

        <div class="portlet">
            <div class="portlet-header">Images</div>
            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        </div>

    </div>
</section>



</body>
</html>