
header, footer{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    padding: 0 0.5em;
    background-color: #bcbac8;
    font-size: 24px;
    line-height: 2em;
    height: 2em;
    color: #fff;
}
header{
    font-weight: bold;
}
header > a:last-child{
    float: right;
    color: #fff;
    font-weight: normal;
}
footer{
    top: auto;
    bottom: 0;
}
input{
    height: 1.5em;
    font-size: 14px;
}
#content{
    list-style: none;
}